<% if @errors %>
  <ul>
  <% @errors.full_messages.each do |message| %>
    <li><%= message %></li>
  	<% end %>
  </ul>
<% end %>

<%= form_for[@post, @comment] do |f| %>
  <%= f.label :body, "Body" %>
  <%= f.text_area :body, value: !!@body ? @body : "" %>
  <%= f.submit yield(:submit_text), :disable_with => 'Submiting...' %>
<% end %>