<div id="post-form-outside-container">
  <%= render 'shared/errors' %>
  
  <div id="post-form-container">
    <%= form_for @post, html: { id: "form-post" } do |f| %>
    <div>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, value: !!@title ? @title : ""  %>
    </div>
    <div>
      <%= f.label :body, "Body" %>
      <%= f.text_area :body, value: !!@body ? @body : "" %>
    </div>
      <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>
  </div>
</div>
