<div id="create-new-post-area">
  <%= link_to "Create a new post", new_post_path, id: "create-post-link" %>
</div>

<div class="posts-container">
<% if @posts %>
  <% @posts.each do |post| %>
    <div>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p><%= post.body %></p>
    <p><%= post.created_at.strftime("%m/%d/%Y") %></p>
    <% if creator?(post) %>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    <% end %>
    <p><%= link_to "see comments", post_comments_path(post_id: post.id) %></p>
 </div>
  <% end %>
<% end %>
</div>
