<!DOCTYPE html>
<html>
  <head>
    <title>MoodBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%if logged_in? %>
      <span><%= link_to("logout", logout_path, method: "delete") %></span>
    <% else %>
      <span><%= link_to("Login", login_path) %></span>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
